# Insurance Fraud Detection
Dataset : __[Click here](https://www.kaggle.com/datasets/nitingoyal8/insurance-dataset)__

---

In [14]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Dataset Overview

In [20]:
df = pd.read_csv('insurance_dataset.csv', encoding='unicode_escape')
df.shape

(1000, 12)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Policy_ID             1000 non-null   object
 1   Customer_Age          1000 non-null   int64
 2   Gender                1000 non-null   object
 3   Region                1000 non-null   object
 4   Policy_Type           1000 non-null   object
 5   Premium_Amount (USD)  1000 non-null   float64
 6   Claim_Amount (USD)    1000 non-null   float64
 7   Claim_Status          1000 non-null   object
 8   Number_of_Claims      1000 non-null   int64
 9   Vehicle_Age           212 non-null    float64
 10  Smoking_Status        382 non-null    object
 11  Medical_History       297 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 93.9+ KB

In [21]:
df.head(10)

,Policy_ID,Customer_Age,Gender,Region,Policy_Type,Premium_Amount (USD),Claim_Amount (USD),Claim_Status,Number_of_Claims,Vehicle_Age,Smoking_Status,Medical_History
0,POL_0001,76,Female,South,Home,1334.50,0.00,Pending,0,NaN,NaN,NaN
1,POL_0002,72,Other,North,Health,1446.53,45619.84,Approved,4,NaN,Smoker,Heart Disease
2,POL_0003,71,Other,North,Travel,2103.51,0.00,Pending,5,NaN,NaN,NaN
3,POL_0004,35,Other,West,Life,2451.76,0.00,Approved,1,NaN,Smoker,Diabetes
4,POL_0005,24,Male,East,Travel,1633.81,9898.76,Approved,1,NaN,NaN,NaN
5,POL_0006,19,Male,South,Auto,3060.57,26007.68,Pending,3,12.0,NaN,NaN
6,POL_0007,25,Other,North,Life,2254.63,6479.02,Pending,5,NaN,Smoker,NaN
7,POL_0008,68,Other,East,Home,4050.49,25662.31,Approved,3,NaN,NaN,NaN
8,POL_0009,38,Other,South,Auto,3101.68,0.00,Approved,2,9.0,NaN,NaN
9,POL_0010,22,Other,West,Home,2534.12,35226.99,Pending,3,NaN,NaN,NaN

In [23]:
df.describe()

,Customer_Age,Premium_Amount (USD),Claim_Amount (USD),Number_of_Claims,Vehicle_Age
count,1000.000000,1000.000000,1000.000000,1000.000000,212.000000
mean,50.031000,2624.573530,17411.490390,2.588000,7.650943
std,18.133308,1361.417183,16979.876271,1.711486,4.478580
min,18.000000,229.330000,0.000000,0.000000,0.000000
25%,34.750000,1444.482500,0.000000,1.000000,4.000000
50%,50.000000,2638.070000,13369.270000,3.000000,7.500000
75%,66.000000,3794.552500,33062.382500,4.000000,11.000000
max,80.000000,4997.920000,49949.580000,5.000000,15.000000

In [26]:
print(df.describe(include=['object']))

       Policy_ID Gender Region Policy_Type Claim_Status Smoking_Status  \
count       1000   1000   1000        1000         1000            382
unique      1000      3      5           5            3              2
top     POL_0001  Other   East        Auto     Approved     Non-Smoker
freq           1    346    222         212          345            195

       Medical_History
count              297
unique               4
top           Diabetes
freq                87

## Data Cleaning

In [22]:
df.isnull().sum()

Policy_ID                 0
Customer_Age              0
Gender                    0
Region                    0
Policy_Type               0
Premium_Amount (USD)      0
Claim_Amount (USD)        0
Claim_Status              0
Number_of_Claims          0
Vehicle_Age             788
Smoking_Status          618
Medical_History         703
dtype: int64

In [27]:
print(f"Duplicate Rows: {df.duplicated().sum()}")

Duplicate Rows: 0

In [29]:
# Filling missing values
df['Smoking_Status'].fillna('Unknown', inplace=True)
df['Medical_History'].fillna('No History', inplace=True)

## Checking Data Distribution