In [6]:
import pandas as pd

In [7]:
from urllib.request import urlretrieve
urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv','countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x1d49ecb5c40>)

In [8]:
countries_df = pd.read_csv('countries.csv')
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [9]:
countries_df.shape

(210, 6)

In [12]:
num_countries = len(countries_df)
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [14]:
continents = countries_df.continent.unique()
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [16]:
total_population = countries_df.population.sum()
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [20]:
cleaned_df = countries_df.dropna(subset=['life_expectancy', 'population'])
overall_life_expectancy = sum(cleaned_df['life_expectancy'] * cleaned_df['population']) / sum(cleaned_df['population'])
print('The overall life expectancy is {} across the world.'.format(overall_life_expectancy))

The overall life expectancy is 72.74135064806133 across the world.

In [22]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)[['location','population']]
most_populous_df

          location    population
41           China  1.439324e+09
90           India  1.380004e+09
199  United States  3.310026e+08
91       Indonesia  2.735236e+08
145       Pakistan  2.208923e+08
27          Brazil  2.125594e+08
141        Nigeria  2.061396e+08
15      Bangladesh  1.646894e+08
157         Russia  1.459345e+08
125         Mexico  1.289328e+08

In [23]:
countries_df['gdp'] = countries_df['population'] * countries_df['gdp_per_capita']
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [30]:

country_counts_df = countries_df.groupby('continent')['location'].count().reset_index(name='country_count')
country_counts_df

       continent  country_count
0         Africa             55
1           Asia             47
2         Europe             51
3  North America             36
4        Oceania              8
5  South America             13

In [31]:
continent_populations_df = countries_df.groupby('continent')[['population']].sum()
continent_populations_df

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

In [32]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x1d49fff2f00>)

In [33]:
covid_data_df=pd.read_csv('covid-countries-data.csv')

In [34]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

In [40]:
total_tests_missing = covid_data_df['total_tests'].isna().sum()
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [41]:
combined_df = countries_df.merge(covid_data_df,on='location')

combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0

In [43]:
combined_df['tests_per_million']=combined_df.total_tests*1e6/combined_df.population
combined_df['cases_per_million']=combined_df.total_cases*1e6/combined_df.population
combined_df['deaths_per_million']=combined_df.total_deaths*1e6/combined_df.population

In [44]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN,NaN,982.394806,36.194710
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN,NaN,3380.359997,102.856349
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN,NaN,1029.804468,34.776824
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,10.745996,0.359570
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN,NaN,1282.373228,1.674116
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN,NaN,66.250993,19.144391
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN,NaN,675.317108,15.883415
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0,6544.605918,446.614587,13.859989

In [48]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending=False).head(10)[['location','tests_per_million']]
highest_tests_df

                 location  tests_per_million
197  United Arab Emirates      725696.635121
14                Bahrain      657527.137965
115            Luxembourg      616349.508607
122                 Malta      427004.183096
53                Denmark      422621.755488
96                 Israel      271962.665303
89                Iceland      260304.761905
157                Russia      254750.159763
199         United States      253467.507769
10              Australia      245326.517406

In [50]:
highest_cases_df = combined_df.sort_values('cases_per_million',ascending=False).head(10)[['location','cases_per_million']]
highest_cases_df

          location  cases_per_million
155          Qatar       41375.743650
14         Bahrain       30818.361490
147         Panama       21805.112117
40           Chile       21695.671982
162     San Marino       21657.139490
9            Aruba       20708.839893
105         Kuwait       20249.789079
150           Peru       20121.318048
27          Brazil       18808.224105
199  United States       18472.377957

In [51]:
highest_deaths_df = combined_df.sort_values('deaths_per_million',ascending=False).head(10)[['location','cases_per_million']]
highest_deaths_df

           location  cases_per_million
162      San Marino       21657.139490
150            Peru       20121.318048
18          Belgium        7404.645676
3           Andorra       15518.022390
177           Spain       10256.790198
198  United Kingdom        4988.892850
40            Chile       21695.671982
97            Italy        4490.684602
27           Brazil       18808.224105
182          Sweden        8370.109919

In [57]:
highest_population = countries_df[countries_df['population']>10e6]
highest_population

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
7,Argentina,South America,45195777.0,76.67,5.00,18933.907,8.557326e+11
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710,1.138537e+12
...,...,...,...,...,...,...,...
204,Venezuela,South America,28435943.0,72.06,0.80,16745.022,4.761605e+11
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [58]:
lowest_gdp = highest_population.sort_values('gdp_per_capita',ascending=True).head(20)['location']
lowest_gdp

32                          Burundi
52     Democratic Republic of Congo
140                           Niger
118                          Malawi
132                      Mozambique
117                      Madagascar
207                           Yemen
176                     South Sudan
85                            Haiti
195                          Uganda
31                     Burkina Faso
63                         Ethiopia
39                             Chad
0                       Afghanistan
158                          Rwanda
209                        Zimbabwe
82                           Guinea
121                            Mali
20                            Benin
135                           Nepal
Name: location, dtype: object

In [60]:
lowest_bed = highest_population.sort_values('hospital_beds_per_thousand',ascending=True).head(20)['location']
lowest_bed

121            Mali
117      Madagascar
140           Niger
135           Nepal
82           Guinea
63         Ethiopia
31     Burkina Faso
195          Uganda
0       Afghanistan
20            Benin
90            India
80        Guatemala
145        Pakistan
85            Haiti
207           Yemen
187        Tanzania
132      Mozambique
32          Burundi
33         Cambodia
204       Venezuela
Name: location, dtype: object

In [61]:
common_countries = set(lowest_gdp).intersection(set(lowest_bed))

In [62]:
num_common_countries = len(common_countries)
print("Number of countries in both lists: {}".format(num_common_countries))
print("Countries in both lists:", common_countries)

Number of countries in both lists: 14
Countries in both lists: {'Madagascar', 'Mali', 'Guinea', 'Burundi', 'Afghanistan', 'Burkina Faso', 'Yemen', 'Ethiopia', 'Haiti', 'Niger', 'Uganda', 'Nepal', 'Mozambique', 'Benin'}