In [6]:
import pandas as pd

In [7]:
from urllib.request import urlretrieve
urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv','countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x1d49ecb5c40>)

In [8]:
countries_df = pd.read_csv('countries.csv')
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

In [9]:
countries_df.shape

(210, 6)

In [12]:
num_countries = len(countries_df)
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [14]:
continents = countries_df.continent.unique()
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [16]:
total_population = countries_df.population.sum()
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [ ]:
cleaned_df = countries_df.dropna(subset=['life_expectancy', 'population'])
overall_life_expectancy = sum(cleaned_df['life_expectancy'] * cleaned_df['population']) / sum(cleaned_df['population'])
print('The overall life expectancy is {} across the world.'.format(overall_life_expectancy))

TypeError: DataFrame.dropna() takes 1 positional argument but 2 were given

In [ ]:
most_populous_df =